{% extends 'base.html' %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="navleft">
            {% block navigation_left %}
        {% include 'components/navigation_left.html' %}
    {% endblock %}
        </div>
    {% block main %}
        <div class="col-md-10">
        <h3 class="text-dark p-3">Dashboard</h3>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque deleniti deserunt ea ipsa iste nam,
            nesciunt pariatur saepe sequi sit sunt, ullam unde voluptas voluptate. Ducimus et minus quaerat?</p>
    </div>
    {% endblock %}
    </div>
    </div>
{% endblock %}